{{- define "main" -}}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{ if .File }}
      {{ $username := path.Base .File.Dir }}
      {{ partial "blocks/v1/about.html" (dict "wcPage" $ "wcBlock" . "author" $username) }}
    {{ else }}
      <div class="universal-wrapper pt-3"><h1>{{ .Title }}</h1></div>
    {{ end }}

    {{ with .Params.first_employment }}
      <div class="article-widget content-widget-hr first-employment">
        <div class="section-subheading">{{ if eq $.Lang "zh" }}首份工作{{ else }}First employment{{ end }}</div>
        <p>{{ . | markdownify | emojify }}</p>
      </div>
    {{ end }}

    {{ with .Params.publications }}
      <div class="article-widget content-widget-hr student-publications">
        <h3>{{ if eq $.Lang "zh" }}与 SuDIS 共同发表的论文{{ else }}Publications with SuDIS{{ end }}</h3>
        <ul>
          {{ range . }}
            <li><a href="{{ .url }}">{{ .title }}</a> <span class="publication-venue">{{ .venue }}, {{ .year }}</span></li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</section>

{{- end -}}
